<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body ng-controller="PhoneListCtrl">
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
    <li><a href="#/login">login</a></li>
    <li><a href="#/dashboard">dashboard</a></li>
  </ul>

  <div ng-view></div>
  <div id="mainTestContent">
      <h3>This is for image upload</h3>
      <form action="comp/file/upload" method="post" enctype="multipart/form-data">
          <p>
              Select a file : <input type="file" name="file" multiple="multiple" size="45" />
          </p>
          <input type="submit" value="Upload It" />
      </form>

      <h3>This is for test cross domain restful API call.</h3>
      <button ng-click="callIt()">Call Restful (Cross domain)</button>
      <h3>This is for data binding</h3>
      Your name: <input type="text" ng-model="status" placeholder="World"><br>
      Hello {{status || 'World'}}!
      <div>Angular seed app: v<span app-version></span></div>

      <hr>
      <h3>This is for ng-repeat</h3>
      <input type="text" ng-model="query">
      <ul>
        <li ng-repeat="phone in phones | filter:query">
          {{phone.name}}
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
      <hr>

      <h3>This is for RESTful solr request</h3>
      <div>
        <input type="text" ng-model="searchStr">
        <button ng-click="search()">Search</button>
        <br>
        <input type="text" ng-model="docToAdd">
        <button ng-click="addDoc()">AddDocToSolr</button>
        <ul>
          <li ng-repeat="doc in docs">
            {{doc.id}} -- {{doc.title}}
          </li>
        </ul>
      </div>
      <hr>
    <div>
      <label for="inputImage">Image</label>
      <input id="inputImage" type="file" accept="image/*" image="image"/>
    </div>

  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="lib/jquery/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/md5/md5.js"></script>
</body>
</html>
